*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/codigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 260px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(43, 41, 41);
    border-radius: 18px;
    background: rgba(53, 111, 177, 0.425);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-left: 1px solid white;
    backdrop-filter: blur(3px);
}
.container .card .content{
    padding: 30px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 18em;
    color: rgba(0, 0, 0, 0.288);
    pointer-events: none;
    text-align: center;
}
.container .card .content h3{
    font-size: 1.8em;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.container .card .content p{
    font-size: 19px;
    color: white;
    font-weight: 300;
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin: 15px;
    background: rgba(16, 105, 221, 0.884);
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px rgb(54, 53, 53);
}