*{
    margin: 0;
    padding: 0;
    
}
.name h1{
    width: 70px;
    right: 400px;
    text-align: center;
}
.one{
    position: relative;
    text-align: center;
    color: black;
}
.two{
    position: relative;
    text-align: center;
    color: black;
}
.container{
    
    background: url(/img/code7.jpg) no-repeat;
    background-size: cover;
    height: 150vh;;
    width: 100%;
    background-position: center;
}
